body {
  font: 1em Helvetica, sans-serif;
}

.stats,
button {
  position: relative;
  grid-template-rows: 1fr auto;
  min-width: 68px;
}

.stats {
  display: flex;
  align-items: center;
}

button {
  display: block;
}

.stats div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: azure;
  position: absolute;
  background-color: cornflowerblue;
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
}

figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
}

figure a {
  color: black;
  text-decoration: none;
}

figcaption {
  grid-row: 2;
  grid-column: 1;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.2em 0.5em;
  justify-self: start;
}

[data-testid="container"] {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

button:disabled {
  background-color: red;
}
